NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_JIKAN_API_BASE_URL=

# ===API setup===
CACHE_SHORT_TTL=
CACHE_MEDIUM_TTL=
CACHE_LONG_TTL=
DEFAULT_ANIME_LIMIT=
DEFAULT_MANGA_LIMIT=
DEFAULT_UPCOMING_LIMIT=
DEFAULT_SEARCH_LIMIT=
RATE_LIMIT_MAX_RETRIES=
RATE_LIMIT_RETRY_DELAY=
RATE_LIMIT_DELAY=